$primary-text-color: #757575;
$h-text-color: #212121;
$accent-color: #2196F3;
$adress-color: rgba(255, 255, 255, 0.6);
$primary-white-color: #ffffff;
$bg-color: hsl(235, 10%, 21%);
$rgba-logo-black: rgba(0, 0, 0, 1);
$rgba-logo-white: rgba(255, 255, 255, 1);
$rgba-logo-blue: rgba(33, 150, 243, 1);
$botton-bgd: #F5F4FA;
$acent-hero-rgba:rgba(47, 48, 58, 0.4);
$team-bgd:#F5F4FA;
$border-color: #EEEEEE;
$border-header: #ECECEC;
$svg-accent: rgba(175, 177, 184, 1);
$svg-accent-hover:rgba(33, 150, 243, 1);
$svg-rgba-footer:rgba(255, 255, 255, 0.1);
$color: #2196f3;
$rgba-bekdrop: rgba(0, 0, 0, 0.2);
$background-modal-window: #ffffff;
$border-botton: rgba(0, 0, 0, 0.1);
$background-examples: rgba(47, 48, 58, 0.8);
$background-animation:rgba(33, 150, 243, 0.9);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$rgba-outline:rgba(33, 33, 33, 0.2);
$rgba-form: rgba(117, 117, 117, 0.5);
$border-email-color-plus: rgba(255, 255, 255, 0.3);
$fill-modal: rgba(33, 33, 33, 1);
